<p>test-relations works!</p>
<button (click)="addOneWithChildren(10)">add one with a lot of children ({{(testRelations$ | async).length}})</button>

<div *ngIf="(testRelations$ | async) as testRelations">

    <div *ngIf="testRelations[0]">
    <button *ngIf="(testRelations[0].tests | async) as tests" (click)="testRelations[0].remove()">remove {{tests.length}}</button>

    <h1>testsWithNameTest</h1>
    <button (click)="testRelations[0].add('testsWithNameTest')">add</button>
    <ul>
      <li *ngFor="let testRelation of testRelations[0].testsWithNameTest | async ">
        {{testRelation.lastName}}
        {{testRelation.name}}
        <button (click)="move(testRelation, 'testsWithNameTest1');">move</button>
        <button (click)="testRelation.remove();">remove</button>
      </li>
    </ul>

    <h1>testsWithNameTest1</h1>
    <button (click)="testRelations[0].add('testsWithNameTest1')">add</button>
    <ul>
      <li *ngFor="let testRelation of testRelations[0].testsWithNameTest1 | async ">
        {{testRelation.lastName}}
        {{testRelation.name}}
        <button (click)="move(testRelation, 'testsWithNameTest');">move</button>
        <button (click)="testRelation.remove();">remove</button>
      </li>
    </ul>
  </div>
</div>
