<button (click)="add('test1', 'test1')">add 1</button>
<button (click)="add('test2', 'test2')">add 2</button>
<button (click)="add()">add empty</button>

Search lastName:
<select  [ngModel]="findByLastName$ | async" (ngModelChange)="findByLastName$.next($event)">
  <option value="test1">test1</option>
  <option value="abc">abc</option>
</select>

<div class="test-container">
  <div *ngFor="let test of (tests$ | async)">
    <app-item [name]="test.name"></app-item>
    <button (click)="remove(test)">remove</button>
    <button (click)="save(test)">save</button>
    <input [(ngModel)]="test.name">
    <select [(ngModel)]="test.lastName">
      <option value="test1">test1</option>
      <option value="abc">abc</option>
    </select>
  </div>
</div>

<button (click)="save()">save all</button>
