<div>
  <button mat-raised-button (click)="add();">Add</button>
  <button mat-raised-button (click)="removeSelected();">Remove selected</button>
  <button mat-raised-button (click)="toJson();">toJson</button>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <input [autofocus]="true" matInput placeholder="search by age" type="number" [ngModel]="searchString$ | async"
           (ngModelChange)="searchString$.next($event)">
  </mat-toolbar-row>
</mat-toolbar>
<table mat-table matSort (matSortChange)="sort({active: $event.active, direction: $event.direction})"
       [dataSource]="contacts.getResults()">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox [checked]="contacts.getPaginator().isSelectedAll() | async"
                    (change)="contacts.getPaginator().toggleSelection()">
      </mat-checkbox>
      <span mat-basic-chip>
        {{contacts.getPaginator().getSelectedCount() | async}}
      </span>
    </th>
    <td mat-cell *matCellDef="let Contact">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(Contact)"
                    [checked]="contacts.getPaginator().isSelected(Contact)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-sort-header="name" mat-header-cell *matHeaderCellDef> First name</th>
    <td mat-cell *matCellDef="let contact">
      <input matInput placeholder="name" [ngModel]="contact.name"
             (ngModelChange)="contact.setProperty('name', $event).save()">
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-sort-header="lastName" mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let contact">
      <input matInput [ngModel]="contact.lastName" (ngModelChange)="contact.setProperty('lastName', $event).save()">
  </ng-container>

  <!-- age Column -->
  <ng-container matColumnDef="age">
    <th mat-sort-header="age" mat-header-cell *matHeaderCellDef> Age</th>
    <td mat-cell *matCellDef="let contact">
      <input matInput placeholder="age" type="number" [ngModel]="contact.age"
             (ngModelChange)="contact.setProperty('age', $event).save()">
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let contact">
      <button mat-raised-button [routerLink]="['/contact']">Details</button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let Contact; columns: displayedColumns;" (click)="edit(Contact)">>
  </tr>

</table>

<mat-paginator [length]="contacts.getPaginator().getLength()"
               [pageSize]="contacts.getPaginator().getPageSize()"
               [pageSizeOptions]="contacts.getPaginator().getPageSizeOptions()"
               (page)="contacts.getPaginator().setPage($event)"
               [pageIndex]="contacts.getPaginator().getPageIndex()">
</mat-paginator>
